// .subplot:hover {
// 	background-color: lightsalmon;
// }

// GENERAL PLOT STYLE
.plot {
	box-sizing: content-box;
	border: 3px solid #832006;
	.subplot {
		cursor: pointer;
		background-color: #95624a;
		&:hover {
			background-color: lightcoral;
		}
	}
}
